<%- include('header'); -%>

<div class="box" id="heading">
    <h1>
        <%= dateToDisplay %>
    </h1>
</div>

<div class="box">
    <% for(var i = 0; i<listItem.length; i++){ %>
        <div class="item">
            <input type="checkbox">
            <p>
                <%= listItem[i] %>
            </p>
        </div>
    <% } %>

    <form action="/" method="post">
        <!-- <label for="listItem">List Item here</label> -->
        <input
            id="listItem"
            name="listItem"
            type="text"
            placeholder="New Item"
            autocomplete="off">

        <button type="submit" name="button" value="<%= dateToDisplay %> ">+</button>
    </form>
</div>

<%- include('footer'); -%>